<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">  
    
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">  
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
    </appender>

    <appender name="jkzltrace" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="i:/log/b.log" />
        <param name="Append" value="true" />
        <param name="encoding" value="utf-8"/>
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="100" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
    </appender>
    
    <appender name="jkzlerror" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="i:/log/a.log" />
        <param name="Append" value="true" />
        <param name="encoding" value="utf-8"/>
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="100" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %p [%c] - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="error" />
            <param name="AcceptOnMatch" value="true" />
        </filter>
    </appender>

<!--     <logger name="com.csh.peter.codetool" additivity="true">
        <level value ="debug"/>
        <appender-ref ref="jkzltrace" />
        <appender-ref ref="jkzlerror" />
    </logger>  --> 
    
    <root>
        <priority value ="debug"/>
        <appender-ref ref="console"/>
        <appender-ref ref="jkzltrace" />
        <appender-ref ref="jkzlerror" />
    </root>
    
</log4j:configuration>  